Repository paketo-buildpacks/paketo-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee, @paketo-buildpacks/java-maintainers, @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/python-maintainers, @paketo-buildpacks/dotnet-core-maintainers, @paketo-buildpacks/ruby-maintainers, @paketo-buildpacks/php-maintainers, @paketo-buildpacks/web-servers-maintainers, @paketo-buildpacks/go-maintainers, @paketo-buildpacks/utilities-maintainers, @paketo-buildpacks/app-monitoring-maintainers

.github/CODEOWNERS:

*                                            @paketo-buildpacks/content-maintainers @paketo-buildpacks/steering-committee

content/getting-started-languages/java.md         @paketo-buildpacks/java-maintainers
content/getting-started-languages/nodejs.md       @paketo-buildpacks/nodejs-maintainers
content/getting-started-languages/python.md       @paketo-buildpacks/python-maintainers
content/getting-started-languages/dotnet_core.md  @paketo-buildpacks/dotnet-core-maintainers

content/docs/howto/java.md                   @paketo-buildpacks/java-maintainers
content/docs/howto/nodejs.md                 @paketo-buildpacks/nodejs-maintainers
content/docs/howto/python.md                 @paketo-buildpacks/python-maintainers
content/docs/howto/ruby.md                   @paketo-buildpacks/ruby-maintainers
content/docs/howto/php.md                    @paketo-buildpacks/php-maintainers
content/docs/howto/web-servers.md            @paketo-buildpacks/web-servers-maintainers
content/docs/howto/go.md                     @paketo-buildpacks/go-maintainers
content/docs/howto/dotnet-core.md            @paketo-buildpacks/dotnet-core-maintainers
content/docs/howto/configuration.md          @paketo-buildpacks/utilities-maintainers
content/docs/howto/app-monitor.md            @paketo-buildpacks/app-monitoring-maintainers

content/docs/reference/java-reference.md               @paketo-buildpacks/java-maintainers
content/docs/reference/java-native-image-reference.md  @paketo-buildpacks/java-maintainers
content/docs/reference/nodejs-reference.md             @paketo-buildpacks/nodejs-maintainers
content/docs/reference/python-reference.md             @paketo-buildpacks/python-maintainers
content/docs/reference/ruby-reference.md               @paketo-buildpacks/ruby-maintainers
content/docs/reference/php-reference.md                @paketo-buildpacks/php-maintainers
content/docs/reference/nginx-reference.md              @paketo-buildpacks/web-servers-maintainers
content/docs/reference/httpd-reference.md              @paketo-buildpacks/web-servers-maintainers
content/docs/reference/go-reference.md                 @paketo-buildpacks/go-maintainers
content/docs/reference/dotnet-core-reference.md        @paketo-buildpacks/dotnet-core-maintainers

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updates tools (#880)
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools (#889)
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Deploying
  docs/concepts/builders/index.html
  docs/concepts/buildpacks/index.html
  docs/concepts/sbom/index.html
  docs/concepts/stacks/index.html
  docs/howto/app-monitor/index.html
  docs/howto/builders/index.html
  docs/howto/configuration/index.html
  docs/howto/create-custom-stack/index.html
  docs/howto/create-paketo-buildpack/index.html
  docs/howto/dotnet-core/index.html
  docs/howto/go/index.html
  docs/howto/java/index.html
  docs/howto/nodejs/index.html
  docs/howto/php/index.html
  docs/howto/python/index.html
  docs/howto/ruby/index.html
  docs/howto/sbom/index.html
  docs/howto/web-servers/index.html
  docs/index.html
  docs/reference/builders-reference/index.html
  docs/reference/dotnet-core-reference/index.html
  docs/reference/go-reference/index.html
  docs/reference/httpd-reference/index.html
  docs/reference/java-native-image-reference/index.html
  docs/reference/java-reference/index.html
  docs/reference/nginx-reference/index.html
  docs/reference/nodejs-reference/index.html
  docs/reference/php-reference/index.html
  docs/reference/python-reference/index.html
  docs/reference/ruby-reference/index.html
  index.html
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Remove gcr.io
  content/docs/howto/app-monitor.md
Owners: @paketo-buildpacks/app-monitoring-maintainers

Remove gcr.io (#891)
  content/docs/howto/app-monitor.md
Owners: @paketo-buildpacks/app-monitoring-maintainers

Deploying
  docs/concepts/builders/index.html
  docs/concepts/buildpacks/index.html
  docs/concepts/sbom/index.html
  docs/concepts/stacks/index.html
  docs/howto/app-monitor/index.html
  docs/howto/builders/index.html
  docs/howto/configuration/index.html
  docs/howto/create-custom-stack/index.html
  docs/howto/create-paketo-buildpack/index.html
  docs/howto/dotnet-core/index.html
  docs/howto/go/index.html
  docs/howto/java/index.html
  docs/howto/nodejs/index.html
  docs/howto/php/index.html
  docs/howto/python/index.html
  docs/howto/ruby/index.html
  docs/howto/sbom/index.html
  docs/howto/web-servers/index.html
  docs/index.html
  docs/reference/builders-reference/index.html
  docs/reference/dotnet-core-reference/index.html
  docs/reference/go-reference/index.html
  docs/reference/httpd-reference/index.html
  docs/reference/java-native-image-reference/index.html
  docs/reference/java-reference/index.html
  docs/reference/nginx-reference/index.html
  docs/reference/nodejs-reference/index.html
  docs/reference/php-reference/index.html
  docs/reference/python-reference/index.html
  docs/reference/ruby-reference/index.html
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Remove job that deploys to GCP
  .github/workflows/deploy-dev-pr.yml
  .github/workflows/test-pull-request.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Remove job that deploys to GCP (#892)
  .github/workflows/deploy-dev-pr.yml
  .github/workflows/test-pull-request.yml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Deploying
  docs/concepts/builders/index.html
  docs/concepts/buildpacks/index.html
  docs/concepts/sbom/index.html
  docs/concepts/stacks/index.html
  docs/howto/app-monitor/index.html
  docs/howto/builders/index.html
  docs/howto/configuration/index.html
  docs/howto/create-custom-stack/index.html
  docs/howto/create-paketo-buildpack/index.html
  docs/howto/dotnet-core/index.html
  docs/howto/go/index.html
  docs/howto/java/index.html
  docs/howto/nodejs/index.html
  docs/howto/php/index.html
  docs/howto/python/index.html
  docs/howto/ruby/index.html
  docs/howto/sbom/index.html
  docs/howto/web-servers/index.html
  docs/index.html
  docs/reference/builders-reference/index.html
  docs/reference/dotnet-core-reference/index.html
  docs/reference/go-reference/index.html
  docs/reference/httpd-reference/index.html
  docs/reference/java-native-image-reference/index.html
  docs/reference/java-reference/index.html
  docs/reference/nginx-reference/index.html
  docs/reference/nodejs-reference/index.html
  docs/reference/php-reference/index.html
  docs/reference/python-reference/index.html
  docs/reference/ruby-reference/index.html
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updates tools (#896)
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Deploying
  docs/concepts/builders/index.html
  docs/concepts/buildpacks/index.html
  docs/concepts/sbom/index.html
  docs/concepts/stacks/index.html
  docs/howto/app-monitor/index.html
  docs/howto/builders/index.html
  docs/howto/configuration/index.html
  docs/howto/create-custom-stack/index.html
  docs/howto/create-paketo-buildpack/index.html
  docs/howto/dotnet-core/index.html
  docs/howto/go/index.html
  docs/howto/java/index.html
  docs/howto/nodejs/index.html
  docs/howto/php/index.html
  docs/howto/python/index.html
  docs/howto/ruby/index.html
  docs/howto/sbom/index.html
  docs/howto/web-servers/index.html
  docs/index.html
  docs/reference/builders-reference/index.html
  docs/reference/dotnet-core-reference/index.html
  docs/reference/go-reference/index.html
  docs/reference/httpd-reference/index.html
  docs/reference/java-native-image-reference/index.html
  docs/reference/java-reference/index.html
  docs/reference/nginx-reference/index.html
  docs/reference/nodejs-reference/index.html
  docs/reference/php-reference/index.html
  docs/reference/python-reference/index.html
  docs/reference/ruby-reference/index.html
  index.html
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools (#897)
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Deploying
  docs/concepts/builders/index.html
  docs/concepts/buildpacks/index.html
  docs/concepts/sbom/index.html
  docs/concepts/stacks/index.html
  docs/howto/app-monitor/index.html
  docs/howto/builders/index.html
  docs/howto/configuration/index.html
  docs/howto/create-custom-stack/index.html
  docs/howto/create-paketo-buildpack/index.html
  docs/howto/dotnet-core/index.html
  docs/howto/go/index.html
  docs/howto/java/index.html
  docs/howto/nodejs/index.html
  docs/howto/php/index.html
  docs/howto/python/index.html
  docs/howto/ruby/index.html
  docs/howto/sbom/index.html
  docs/howto/web-servers/index.html
  docs/index.html
  docs/reference/builders-reference/index.html
  docs/reference/dotnet-core-reference/index.html
  docs/reference/go-reference/index.html
  docs/reference/httpd-reference/index.html
  docs/reference/java-native-image-reference/index.html
  docs/reference/java-reference/index.html
  docs/reference/nginx-reference/index.html
  docs/reference/nodejs-reference/index.html
  docs/reference/php-reference/index.html
  docs/reference/python-reference/index.html
  docs/reference/ruby-reference/index.html
  index.html
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Update java.md
  content/docs/howto/java.md
Owners: @paketo-buildpacks/java-maintainers

Update java.md (#901)
  content/docs/howto/java.md
Owners: @paketo-buildpacks/java-maintainers

Deploying
  docs/concepts/builders/index.html
  docs/concepts/buildpacks/index.html
  docs/concepts/sbom/index.html
  docs/concepts/stacks/index.html
  docs/howto/app-monitor/index.html
  docs/howto/builders/index.html
  docs/howto/configuration/index.html
  docs/howto/create-custom-stack/index.html
  docs/howto/create-paketo-buildpack/index.html
  docs/howto/dotnet-core/index.html
  docs/howto/go/index.html
  docs/howto/java/index.html
  docs/howto/nodejs/index.html
  docs/howto/php/index.html
  docs/howto/python/index.html
  docs/howto/ruby/index.html
  docs/howto/sbom/index.html
  docs/howto/web-servers/index.html
  docs/index.html
  docs/reference/builders-reference/index.html
  docs/reference/dotnet-core-reference/index.html
  docs/reference/go-reference/index.html
  docs/reference/httpd-reference/index.html
  docs/reference/java-native-image-reference/index.html
  docs/reference/java-reference/index.html
  docs/reference/nginx-reference/index.html
  docs/reference/nodejs-reference/index.html
  docs/reference/php-reference/index.html
  docs/reference/python-reference/index.html
  docs/reference/ruby-reference/index.html
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Fix JVM Option in java-reference.md
  content/docs/reference/java-reference.md
Owners: @paketo-buildpacks/java-maintainers

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updates tools (#899)
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Deploying
  docs/concepts/builders/index.html
  docs/concepts/buildpacks/index.html
  docs/concepts/sbom/index.html
  docs/concepts/stacks/index.html
  docs/howto/app-monitor/index.html
  docs/howto/builders/index.html
  docs/howto/configuration/index.html
  docs/howto/create-custom-stack/index.html
  docs/howto/create-paketo-buildpack/index.html
  docs/howto/dotnet-core/index.html
  docs/howto/go/index.html
  docs/howto/java/index.html
  docs/howto/nodejs/index.html
  docs/howto/php/index.html
  docs/howto/python/index.html
  docs/howto/ruby/index.html
  docs/howto/sbom/index.html
  docs/howto/web-servers/index.html
  docs/index.html
  docs/reference/builders-reference/index.html
  docs/reference/dotnet-core-reference/index.html
  docs/reference/go-reference/index.html
  docs/reference/httpd-reference/index.html
  docs/reference/java-native-image-reference/index.html
  docs/reference/java-reference/index.html
  docs/reference/nginx-reference/index.html
  docs/reference/nodejs-reference/index.html
  docs/reference/php-reference/index.html
  docs/reference/python-reference/index.html
  docs/reference/ruby-reference/index.html
  index.html
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Fix JVM Option in java-reference.md (#903)
  content/docs/reference/java-reference.md
Owners: @paketo-buildpacks/java-maintainers

Deploying
  docs/reference/java-reference/index.html
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Add new UBI8 builder reference
  content/docs/reference/builders-reference.md
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee
