Repository paketo-buildpacks/paketo-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee, @paketo-buildpacks/java-maintainers, @paketo-buildpacks/nodejs-maintainers, @paketo-buildpacks/python-maintainers, @paketo-buildpacks/dotnet-core-maintainers, @paketo-buildpacks/ruby-maintainers, @paketo-buildpacks/php-maintainers, @paketo-buildpacks/web-servers-maintainers, @paketo-buildpacks/go-maintainers, @paketo-buildpacks/utilities-maintainers, @paketo-buildpacks/app-monitoring-maintainers

.github/CODEOWNERS:

*                                            @paketo-buildpacks/content-maintainers @paketo-buildpacks/steering-committee

content/getting-started-languages/java.md         @paketo-buildpacks/java-maintainers
content/getting-started-languages/nodejs.md       @paketo-buildpacks/nodejs-maintainers
content/getting-started-languages/python.md       @paketo-buildpacks/python-maintainers
content/getting-started-languages/dotnet_core.md  @paketo-buildpacks/dotnet-core-maintainers

content/docs/howto/java.md                   @paketo-buildpacks/java-maintainers
content/docs/howto/nodejs.md                 @paketo-buildpacks/nodejs-maintainers
content/docs/howto/python.md                 @paketo-buildpacks/python-maintainers
content/docs/howto/ruby.md                   @paketo-buildpacks/ruby-maintainers
content/docs/howto/php.md                    @paketo-buildpacks/php-maintainers
content/docs/howto/web-servers.md            @paketo-buildpacks/web-servers-maintainers
content/docs/howto/go.md                     @paketo-buildpacks/go-maintainers
content/docs/howto/dotnet-core.md            @paketo-buildpacks/dotnet-core-maintainers
content/docs/howto/configuration.md          @paketo-buildpacks/utilities-maintainers
content/docs/howto/app-monitor.md            @paketo-buildpacks/app-monitoring-maintainers

content/docs/reference/java-reference.md               @paketo-buildpacks/java-maintainers
content/docs/reference/java-native-image-reference.md  @paketo-buildpacks/java-maintainers
content/docs/reference/nodejs-reference.md             @paketo-buildpacks/nodejs-maintainers
content/docs/reference/python-reference.md             @paketo-buildpacks/python-maintainers
content/docs/reference/ruby-reference.md               @paketo-buildpacks/ruby-maintainers
content/docs/reference/php-reference.md                @paketo-buildpacks/php-maintainers
content/docs/reference/nginx-reference.md              @paketo-buildpacks/web-servers-maintainers
content/docs/reference/httpd-reference.md              @paketo-buildpacks/web-servers-maintainers
content/docs/reference/go-reference.md                 @paketo-buildpacks/go-maintainers
content/docs/reference/dotnet-core-reference.md        @paketo-buildpacks/dotnet-core-maintainers

Deploying
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Fixes building errors
  content/docs/howto/php.md
  layouts/partials/header.html
  scripts/.util/tools.sh
Owners: @paketo-buildpacks/php-maintainers, @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updates tools (#770)
  content/docs/howto/php.md
  layouts/partials/header.html
  scripts/.util/tools.json
  scripts/.util/tools.sh
Owners: @paketo-buildpacks/php-maintainers, @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Deploying
  categories/index.xml
  community/index.xml
  docs/concepts/builders/index.html
  docs/concepts/buildpacks/index.html
  docs/concepts/sbom/index.html
  docs/concepts/stacks/index.html
  docs/howto/app-monitor/index.html
  docs/howto/builders/index.html
  docs/howto/configuration/index.html
  docs/howto/create-custom-stack/index.html
  docs/howto/create-paketo-buildpack/index.html
  docs/howto/dotnet-core/index.html
  docs/howto/go/index.html
  docs/howto/java/index.html
  docs/howto/nodejs/index.html
  docs/howto/php/index.html
  docs/howto/python/index.html
  docs/howto/ruby/index.html
  docs/howto/sbom/index.html
  docs/howto/web-servers/index.html
  docs/index.html
  docs/index.xml
  docs/reference/builders-reference/index.html
  docs/reference/dotnet-core-reference/index.html
  docs/reference/go-reference/index.html
  docs/reference/httpd-reference/index.html
  docs/reference/java-native-image-reference/index.html
  docs/reference/java-reference/index.html
  docs/reference/nginx-reference/index.html
  docs/reference/nodejs-reference/index.html
  docs/reference/php-reference/index.html
  docs/reference/python-reference/index.html
  docs/reference/ruby-reference/index.html
  getting-started-languages/index.xml
  index.html
  index.xml
  resources/index.xml
  sitemap.xml
  tags/index.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Deploying
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Deploying
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Deploying
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Deploying
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Noop change
  scripts/check-spelling.sh
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Noop change
  scripts/check-spelling.sh
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Deploying
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Deploying
  docs/concepts/builders/index.html
  docs/concepts/buildpacks/index.html
  docs/concepts/sbom/index.html
  docs/concepts/stacks/index.html
  docs/howto/app-monitor/index.html
  docs/howto/builders/index.html
  docs/howto/configuration/index.html
  docs/howto/create-custom-stack/index.html
  docs/howto/create-paketo-buildpack/index.html
  docs/howto/dotnet-core/index.html
  docs/howto/go/index.html
  docs/howto/java/index.html
  docs/howto/nodejs/index.html
  docs/howto/php/index.html
  docs/howto/python/index.html
  docs/howto/ruby/index.html
  docs/howto/sbom/index.html
  docs/howto/web-servers/index.html
  docs/index.html
  docs/reference/builders-reference/index.html
  docs/reference/dotnet-core-reference/index.html
  docs/reference/go-reference/index.html
  docs/reference/httpd-reference/index.html
  docs/reference/java-native-image-reference/index.html
  docs/reference/java-reference/index.html
  docs/reference/nginx-reference/index.html
  docs/reference/nodejs-reference/index.html
  docs/reference/php-reference/index.html
  docs/reference/python-reference/index.html
  docs/reference/ruby-reference/index.html
  index.html
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Deploying
  docs/concepts/builders/index.html
  docs/concepts/buildpacks/index.html
  docs/concepts/sbom/index.html
  docs/concepts/stacks/index.html
  docs/howto/app-monitor/index.html
  docs/howto/builders/index.html
  docs/howto/configuration/index.html
  docs/howto/create-custom-stack/index.html
  docs/howto/create-paketo-buildpack/index.html
  docs/howto/dotnet-core/index.html
  docs/howto/go/index.html
  docs/howto/java/index.html
  docs/howto/nodejs/index.html
  docs/howto/php/index.html
  docs/howto/python/index.html
  docs/howto/ruby/index.html
  docs/howto/sbom/index.html
  docs/howto/web-servers/index.html
  docs/index.html
  docs/reference/builders-reference/index.html
  docs/reference/dotnet-core-reference/index.html
  docs/reference/go-reference/index.html
  docs/reference/httpd-reference/index.html
  docs/reference/java-native-image-reference/index.html
  docs/reference/java-reference/index.html
  docs/reference/nginx-reference/index.html
  docs/reference/nodejs-reference/index.html
  docs/reference/php-reference/index.html
  docs/reference/python-reference/index.html
  docs/reference/ruby-reference/index.html
  index.html
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Deploying
  docs/concepts/builders/index.html
  docs/concepts/buildpacks/index.html
  docs/concepts/sbom/index.html
  docs/concepts/stacks/index.html
  docs/howto/app-monitor/index.html
  docs/howto/builders/index.html
  docs/howto/configuration/index.html
  docs/howto/create-custom-stack/index.html
  docs/howto/create-paketo-buildpack/index.html
  docs/howto/dotnet-core/index.html
  docs/howto/go/index.html
  docs/howto/java/index.html
  docs/howto/nodejs/index.html
  docs/howto/php/index.html
  docs/howto/python/index.html
  docs/howto/ruby/index.html
  docs/howto/sbom/index.html
  docs/howto/web-servers/index.html
  docs/index.html
  docs/reference/builders-reference/index.html
  docs/reference/dotnet-core-reference/index.html
  docs/reference/go-reference/index.html
  docs/reference/httpd-reference/index.html
  docs/reference/java-native-image-reference/index.html
  docs/reference/java-reference/index.html
  docs/reference/nginx-reference/index.html
  docs/reference/nodejs-reference/index.html
  docs/reference/php-reference/index.html
  docs/reference/python-reference/index.html
  docs/reference/ruby-reference/index.html
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Deploying
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Deploying
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Deploying
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Deploying
  docs/concepts/builders/index.html
  docs/concepts/buildpacks/index.html
  docs/concepts/sbom/index.html
  docs/concepts/stacks/index.html
  docs/howto/app-monitor/index.html
  docs/howto/builders/index.html
  docs/howto/configuration/index.html
  docs/howto/create-custom-stack/index.html
  docs/howto/create-paketo-buildpack/index.html
  docs/howto/dotnet-core/index.html
  docs/howto/go/index.html
  docs/howto/java/index.html
  docs/howto/nodejs/index.html
  docs/howto/php/index.html
  docs/howto/python/index.html
  docs/howto/ruby/index.html
  docs/howto/sbom/index.html
  docs/howto/web-servers/index.html
  docs/index.html
  docs/reference/builders-reference/index.html
  docs/reference/dotnet-core-reference/index.html
  docs/reference/go-reference/index.html
  docs/reference/httpd-reference/index.html
  docs/reference/java-native-image-reference/index.html
  docs/reference/java-reference/index.html
  docs/reference/nginx-reference/index.html
  docs/reference/nodejs-reference/index.html
  docs/reference/php-reference/index.html
  docs/reference/python-reference/index.html
  docs/reference/ruby-reference/index.html
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Fix typo in path for runtime ca certs binding example.
  content/docs/howto/configuration.md
Owners: @paketo-buildpacks/utilities-maintainers

upgrading node version to 22
  .github/workflows/deploy-dev-pr.yml
  .github/workflows/deploy-prod.yml
  package-lock.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Updating tools
  scripts/.util/tools.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Deploying
  docs/concepts/builders/index.html
  docs/concepts/buildpacks/index.html
  docs/concepts/sbom/index.html
  docs/concepts/stacks/index.html
  docs/howto/app-monitor/index.html
  docs/howto/builders/index.html
  docs/howto/configuration/index.html
  docs/howto/create-custom-stack/index.html
  docs/howto/create-paketo-buildpack/index.html
  docs/howto/dotnet-core/index.html
  docs/howto/go/index.html
  docs/howto/java/index.html
  docs/howto/nodejs/index.html
  docs/howto/php/index.html
  docs/howto/python/index.html
  docs/howto/ruby/index.html
  docs/howto/sbom/index.html
  docs/howto/web-servers/index.html
  docs/index.html
  docs/reference/builders-reference/index.html
  docs/reference/dotnet-core-reference/index.html
  docs/reference/go-reference/index.html
  docs/reference/httpd-reference/index.html
  docs/reference/java-native-image-reference/index.html
  docs/reference/java-reference/index.html
  docs/reference/nginx-reference/index.html
  docs/reference/nodejs-reference/index.html
  docs/reference/php-reference/index.html
  docs/reference/python-reference/index.html
  docs/reference/ruby-reference/index.html
  index.html
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

upgrading node version to 22
  .github/workflows/deploy-dev-pr.yml
  .github/workflows/deploy-prod.yml
  package-lock.json
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Deploying
  docs/concepts/builders/index.html
  docs/concepts/buildpacks/index.html
  docs/concepts/sbom/index.html
  docs/concepts/stacks/index.html
  docs/howto/app-monitor/index.html
  docs/howto/builders/index.html
  docs/howto/configuration/index.html
  docs/howto/create-custom-stack/index.html
  docs/howto/create-paketo-buildpack/index.html
  docs/howto/dotnet-core/index.html
  docs/howto/go/index.html
  docs/howto/java/index.html
  docs/howto/nodejs/index.html
  docs/howto/php/index.html
  docs/howto/python/index.html
  docs/howto/ruby/index.html
  docs/howto/sbom/index.html
  docs/howto/web-servers/index.html
  docs/index.html
  docs/reference/builders-reference/index.html
  docs/reference/dotnet-core-reference/index.html
  docs/reference/go-reference/index.html
  docs/reference/httpd-reference/index.html
  docs/reference/java-native-image-reference/index.html
  docs/reference/java-reference/index.html
  docs/reference/nginx-reference/index.html
  docs/reference/nodejs-reference/index.html
  docs/reference/php-reference/index.html
  docs/reference/python-reference/index.html
  docs/reference/ruby-reference/index.html
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Fix typo in path for runtime ca certs binding example.
  content/docs/howto/configuration.md
Owners: @paketo-buildpacks/utilities-maintainers

Deploying
  docs/concepts/builders/index.html
  docs/concepts/buildpacks/index.html
  docs/concepts/sbom/index.html
  docs/concepts/stacks/index.html
  docs/howto/app-monitor/index.html
  docs/howto/builders/index.html
  docs/howto/configuration/index.html
  docs/howto/create-custom-stack/index.html
  docs/howto/create-paketo-buildpack/index.html
  docs/howto/dotnet-core/index.html
  docs/howto/go/index.html
  docs/howto/java/index.html
  docs/howto/nodejs/index.html
  docs/howto/php/index.html
  docs/howto/python/index.html
  docs/howto/ruby/index.html
  docs/howto/sbom/index.html
  docs/howto/web-servers/index.html
  docs/index.html
  docs/reference/builders-reference/index.html
  docs/reference/dotnet-core-reference/index.html
  docs/reference/go-reference/index.html
  docs/reference/httpd-reference/index.html
  docs/reference/java-native-image-reference/index.html
  docs/reference/java-reference/index.html
  docs/reference/nginx-reference/index.html
  docs/reference/nodejs-reference/index.html
  docs/reference/php-reference/index.html
  docs/reference/python-reference/index.html
  docs/reference/ruby-reference/index.html
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee

Deploying
  sitemap.xml
Owners: @paketo-buildpacks/content-maintainers, @paketo-buildpacks/steering-committee
